// letting var colors
$primary:#041C32;
$secondary:#064663; 
$primary-text:white;
$action-primary:#ECB365;
$action-secondary:#ECB365;
$error:#cf6679;

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "action-primary": $action-primary,
  "action-secondary": $action-secondary,
  "error": $error
);

// changing default background color
$body-bg: $primary;

// defaulting the text color to $primary-text
$body-color:$primary-text;

//changing the row padding to make it smaller.
$grid-gutter-width: .2rem;

//allowing shadows
$enable-shadows: true;
//changing the button shadows
$btn-box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;   

//input

$input-border-width:0px;
//changing the drop down arrow
$form-select-indicator-color:$primary-text;

// $body-color: #ffffffCC;
$dropdown-link-color: white;
// applying a border radius to all elements.
$border-radius: 40px;



//importing bootstrap sass files.
@import '../../node_modules/bootstrap/scss/bootstrap';
